@font-face {
    font-family: CatsVsDogsLT; 
    src: url(../fonts/catsvsdogsLT.ttf); 
   }
body{
  background:url('../img/background.png') repeat;
}
@media (min-width: 768px) {
		#margin-off{
			margin-right: 0;
			margin-left: 0;
		}
}

.navbar-default{
	background-color: rgba(214, 222, 226, 1);
}
.navbar-default .navbar-nav > .active > a{
background-color: rgba(198, 224, 228, 1);
color:#02151f;

}
.navbar-default .navbar-nav > .active > a:hover{
	background-color: rgba(38, 190, 214, 1);
}
.navbar-default .navbar-nav > li > a {
	color:#02151f;
}
.navbar-default .navbar-brand {
	color:#02151f;
}
#profile{
	font-family: CatsVsDogsLT;
	font-size:250%;
}