@font-face {
    font-family: CatsVsDogsLT; 
    src: url(../fonts/catsvsdogsLT.ttf); 
   }
@font-face {
    font-family:Animt;
    src: url(../fonts/ANIMT___.TTF); 
   }
body{
  background:url('../img/background.png') repeat;
}
@media (min-width: 768px) {
		#margin-off{
			margin-right: 0;
			margin-left: 0;
		}
}

.navbar-default{
	background-color: #d6dee2;
}
.navbar-default .navbar-nav > .active > a{
background-color: rgba(198, 224, 228, 0.63);
color:#02151f;

}
.navbar-default .navbar-nav > .active > a:hover{
	background-color: rgba(38, 190, 214, 1);
}
.navbar-default .navbar-nav > li > a {
	color:#02151f;
}
.navbar-default .navbar-brand {
	color:#02151f;
}
#profile{
	font-family: CatsVsDogsLT;
	font-size:250%;
}

li > a > .fa{
	margin-right: 10px;
}
.w-100{
	width:100%;
}
.page-header{
	color:#07243e;
	border-color:#5b5b5b;
}
.murrk{
	font-family:Animt;
	color:blue;
}
.minPhoto{
	border-radius: 40px;
}
.button > .btn-default, .col-xs-12 > .pull-right{
	background-color: #d6dee2;
}
 .fontstyle-panel-header{
	font:  170%  'Times New Roman',sans-serif ;
}
